{% extends "base.html" %}

{% block title %}
Change Password | SecureVault
{% endblock %}

{% block content %}

<div class="container">

    <div class="row justify-content-center">

        <div class="col-lg-6">

            <div class="card shadow-lg border-0 rounded-4">

                <div class="card-header bg-warning text-dark">

                    <h3 class="mb-0">

                        <i class="fas fa-key me-2"></i>

                        Change Password

                    </h3>

                </div>

                <div class="card-body">

                    <form method="POST">

                        {{ form.hidden_tag() }}

                        <div class="mb-3">

                            <label class="form-label">

                                Current Password

                            </label>

                            <input
                                type="password"
                                name="current_password"
                                class="form-control"
                                placeholder="Enter Current Password"
                                required>

                        </div>

                        <div class="mb-3">

                            <label class="form-label">

                                New Password

                            </label>

                            <input
                                type="password"
                                name="new_password"
                                class="form-control"
                                placeholder="Enter New Password"
                                required>
                        <div id="password-strength" class="mt-2"></div>

                        </div>

                        <div class="mb-4">

                            <label class="form-label">

                                Confirm New Password

                            </label>

                            <input
                                type="password"
                                name="confirm_password"
                                class="form-control"
                                placeholder="Confirm New Password"
                                required>

                        </div>

                        <button
                            type="submit"
                            class="btn btn-warning">

                            <i class="fas fa-save me-2"></i>

                            Update Password

                        </button>

                        <a
                            href="{{ url_for('auth.dashboard') }}"
                            class="btn btn-secondary">

                            <i class="fas fa-arrow-left me-2"></i>

                            Dashboard

                        </a>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}